@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.PleaseConsultADoctorPage .ProgressBarImage {
    display: none !important;
}

.PleaseConsultADoctorPage .SkipLink {
    display: none !important;
}

.PleaseConsultADoctorPageImage {
    width: 100%;
    position: relative;
    margin-top: -40px;
    margin-bottom: 32px;
    z-index: 1; /* ✅ S'assurer que l'image ne recouvre pas le bouton */
}

.PleaseConsultADoctorPageImage img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    display: block;
}

.PleaseConsultADoctorPageHeader {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.PleaseConsultADoctorYourChildIsUnder12WarningSign,
.PleaseConsultADoctorAllChildrenUnderTheAgeWarningSign {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 14px;
    margin: 5px 0;
}

.check-image {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    align-self: center;
}

.PleaseConsultADoctorPageNextButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.NextButton {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 199px;
    height: 48px;
    background-color: #f16675;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.NextButton:hover {
    background-color: #d43d4c;
}

@media (max-width: 600px) {
    .PleaseConsultADoctorPageHeader {
        font-size: 22px;
    }
}
