.WhenShouldISeeADoctorPage2 {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    text-align: center;
    background: white;
    border-radius: 0;
    box-shadow: none;
}

.WhenShouldISeeADoctorPage2OptionLists {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.OptionButton {
    width: 96%;
    background-color: #ffdbdf;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: auto;
}

.OptionButton:hover {
    background-color: #ffc5c9;
}
